body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;

  position: relative; }
  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1; }
  body.offcanvas-menu:before {
    opacity: 1;
    z-index: 1002;
    visibility: visible; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.top-bar {
  padding: .5rem 0;
  background: #eee; }
  .top-bar a {
    color: #666666; }

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
  width: 100%;
  /* padding: 1rem;  */
}
  @media (max-width: 991.98px) {
    .site-navbar {
      padding-top: 3rem;
      padding-bottom: 3rem;
     } 
    }
  .site-navbar .toggle-button {
    position: absolute;
    right: 0px; }
  .site-navbar .site-logo {
    position: absolute;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 0;
    margin: 0;
    padding: 0;
    z-index: 3; }
    @media (max-width: 991.98px) {
      .site-navbar .site-logo {
        float: left;
        position: relative; } }
  .site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid white !important; }
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu .active {
      color: #007bff !important; }
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li > a {
     margin-left: 15px;
     margin-right: 15px;
     padding: 20px 0px;
     color: #EDEDED !important;
     display: inline-block;
     text-decoration: none !important; }
    .site-navbar .site-navigation .site-menu > li > a:hover {
       color: #383838 !important; }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-navbar .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        border-top: 2px solid #007bff;
        -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #fff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            display: none;
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #000 !important; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
            color: #007bff !important;
            background: #f8f9fa; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 200px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: #f8f9fa;
              color: #ced4da; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            background: #f8f9fa;
            color: #ced4da; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #007bff; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
          color: #ced4da; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #007bff; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li .nav-link.active {
        color: #007bff; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }
    .site-mobile-menu .site-nav-wrap[data-class="social"] {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 5em; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
        width: auto; }
        .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
          padding-left: 15px !important; }

.sticky-wrapper {
  position: relative;
  z-index: 100;
  width: 100%; }
  .sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .sticky-wrapper .site-navbar {
    background: #fff; }
    .sticky-wrapper .site-navbar .site-logo a {
      color: #fff; }
    .sticky-wrapper .site-navbar ul li a {
      color: rgba(255, 255, 255, 0.7) !important; }
      .sticky-wrapper .site-navbar ul li a.active {
        color: #fff !important; }
  .sticky-wrapper.is-sticky .site-navbar {
    background: #fff;
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2); }
    .sticky-wrapper.is-sticky .site-navbar .site-logo a {
      color: #007bff; }
    .sticky-wrapper.is-sticky .site-navbar ul li a {
      color: #000 !important; }
      .sticky-wrapper.is-sticky .site-navbar ul li a.active {
        color: #007bff !important; }
  .sticky-wrapper .shrink {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
    @media (max-width: 991.98px) {
      .sticky-wrapper .shrink {
        padding-top: 30px !important;
        padding-bottom: 30px !important; } }
.bg-ol-lblue{
  
  background-color:#4195CF ;
}
.bg-ol-tlblue{
  background-color:#4194cf4c ;
}
.bg-ol-gray{
  background-color: #F4F4F4;
}
.bg-ol-grey{
  background-color: #F2F2F2;
}
.bg-ol-white{
  background-color: #FAFBFF;
}
.border-l{
  border-left:#EDEDED 0px solid ;
}
.border-r{
  border-right:#EDEDED 0px solid ;
}
.sticky-header.sticky .border-l {
  border-left:#EDEDED 3px solid ;
}
.sticky-header.sticky .border-r {
  border-right:#EDEDED 3px solid ;
}

@media only screen and (max-width: 575px) {
  .sticky-header.sticky .border-l {
    border-left:#EDEDED 0px solid ;
  }
  .sticky-header.sticky .border-r {
    border-right:#EDEDED 0px solid ;
  }

}
.cat-border{
  border-top:#383838 3px solid ;
  width:30%;
  -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.card-border{
  width:40%;
  border: 2px solid #4197CE;
    border-radius: 4px;
  -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.fill-white{
  /* filter: brightness(100) invert(0); */
}
.icon-width{
  width:50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
.color-ol-white{
  color:#EDEDED;
}
.color-ol-grey{
  color:#c5c5c5;
}
.color-ol-dblue{
  color:#94B3CD;
}
.color-ol-primary{
  color:#4197CE;
  text-shadow: 0 0 32px white;
}
.pointer-hand{
  cursor: pointer;
}
.swiper-container {
      /* width: 100%;
      height: 100%; */
      margin-left: auto;
      margin-right: auto;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      height: 200px;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.h-100p{
  height:15em !important;
}
.h-75p{
  height:10em !important;
}
.h-50p{
  height:6em !important;
}
.cat-card:hover .cat-border{
  width:70%;
  -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.cat-image{
  scale:1;
  left:-4em !important;
}
.cat-card:hover .cat-image{
  scale:1.3;
  -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.text-ol-black{
  color:#383838;
}
.text-ol-lgrey{
  color:#AEAEAE;
}
.text-ol-grey{
  color:#7D7D7D;
}
.text-ol-dgrey{
  color:#808080;
}
.cat-text{
  font-weight:400;
  color:#656565;
}
.cat-card:hover .cat-text p{
  /* font-weight:500 !important; */
  color:#383838;
  -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.cat-card:hover .cat-title{
  letter-spacing: .1em;
  -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.cat-title, .cat-text, .cat-image .card-border{
  -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.outer-glow{
  -webkit-box-shadow:0px 0px 5px 0px rgba(56,56,56,0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(56,56,56,0.2);
  box-shadow: 0px 0px 5px 0px rgba(56,56,56,0.2);
}
.outer-glow:hover .card-border{
  width:100%;
}
.outer-glow-sm{
  -webkit-box-shadow:0px 0px 5px 0px rgba(56,56,56,0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(56,56,56,0.1);
  box-shadow: 0px 0px 5px 0px rgba(56,56,56,0.1);
}
.outer-glow-sm:hover .card-border{
  width:100%;
}
.swiper-button-prev {
  /* background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234A9FFB'%2F%3E%3C%2Fsvg%3E") !important; */
  background-image: none !important;
}

.swiper-button-next {
  /* background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234A9FFB'%2F%3E%3C%2Fsvg%3E") !important; */
  background-image: none !important;
}
.swiper-pagination-bullet-active {
  background: #4A9FFB !important;
}
.rounded-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}
.lh-05{
  line-height: 0.5 !important;
}
.lh-2{
  line-height: 2 !important;
}
.h7{
  font-size: 0.8rem;
}
.h8{
  font-size: 0.6rem;
}
.footer-widget-title {
  color: #252c51;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.border-footer{
  border-top:3px solid #4195CF;
}

#header {
  /* font-size: 90px;  */
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%; /* Full width */
  transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
}
.header1{
  padding-top:10px;
  padding-bottom:10px;
  background-color:#4195CF ;
}
.header2{
  padding-top:2px;
  padding-bottom:2px;
  background-color:#4195CF ;
}
.section{
  padding-bottom:1.5rem;
}
.section-title{
  padding-top:1.5rem;
  padding-bottom:1.5rem;
}
.product-details-images {
  margin-top: 50px;
}

.details-gallery-images .single-img img {
  width: 100%;
}

.details-gallery-thumbs {
  position: relative;
}

@media only screen and (max-width: 575px) {
  .details-gallery-thumbs {
    padding: 0 30px;
  }
}

.details-gallery-thumbs .swiper-container {
  max-width: 410px;
  margin: 20px auto 0;
}

@media only screen and (max-width: 575px) {
  .details-gallery-thumbs .swiper-container {
    max-width: 100%;
  }
}

.details-gallery-thumbs .swiper-container img {
  width: 100%;
}

.details-gallery-thumbs .swiper-slide {
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.details-gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}

.product-details-description {
  margin-top: 50px;
}

.product-details-description.product-details-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 130px;
  left: 0;
  width: 100%;
}

.product-details-description .product-name {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
  .product-details-description .product-name {
    font-size: 24px;
  }
}

.product-details-description .price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-details-description .price .sale-price {
  font-size: 24px;
  color: #4195CF;
  margin-top: 5px;
}

@media only screen and (max-width: 575px) {
  .product-details-description .price .sale-price {
    font-size: 20px;
  }
}

.product-details-description .price .old-price {
  font-size: 20px;
  color: #a4a4a4;
  margin-top: 5px;
  margin-left: 10px;
  text-decoration: line-through;
}

@media only screen and (max-width: 575px) {
  .product-details-description .price .old-price {
    font-size: 16px;
  }
}

.product-details-description .review-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 12px;
}

.product-details-description .review-wrapper .review-star {
  position: relative;
  display: inline-block;
  margin-right: 8px;
}

.product-details-description .review-wrapper .review-star::before {
  content: "\f005" "\f005" "\f005" "\f005" "\f005";
  font-family: FontAwesome;
  display: inline-block;
  color: #dbdbdb;
  font-weight: 400;
  line-height: 1;
  vertical-align: middle;
  font-size: 16px;
  letter-spacing: 10px;
}

@media only screen and (max-width: 575px) {
  .product-details-description .review-wrapper .review-star::before {
    letter-spacing: 5px;
  }
}

.product-details-description .review-wrapper .review-star .star {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

.product-details-description .review-wrapper .review-star .star::before {
  content: "\f005" "\f005" "\f005" "\f005" "\f005";
  font-family: FontAwesome;
  display: inline-block;
  color: #ffc600;
  font-weight: 400;
  line-height: 1;
  vertical-align: middle;
  font-size: 16px;
  letter-spacing: 10px;
}

@media only screen and (max-width: 575px) {
  .product-details-description .review-wrapper .review-star .star::before {
    letter-spacing: 5px;
  }
}

.product-details-description .review-wrapper p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #9f9e9e;
  margin-top: 0;
  margin-bottom: 0;
}

.product-details-description .lable {
  color: #3f3d3d;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-right: 5px;
}

.product-details-description .value {
  color: #9f9e9e;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.product-details-description .product-color {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
}

.product-details-description .product-color ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.product-details-description .product-color ul li {
  margin-left: 15px;
}

.product-details-description .product-color ul li input[type="checkbox"],
.product-details-description .product-color ul li input[type="radio"] {
  display: none;
}

.product-details-description .product-color ul li input[type="checkbox"] + label,
.product-details-description .product-color ul li input[type="radio"] + label {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 16px;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  display: block;
}

.product-details-description .product-color ul li input[type="checkbox"] + label span,
.product-details-description .product-color ul li input[type="radio"] + label span {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid #888888;
  display: inline-block;
  position: relative;
  top: 2px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product-details-description .product-color ul li input[type="checkbox"] + label span::before,
.product-details-description .product-color ul li input[type="radio"] + label span::before {
  position: absolute;
  content: "\f107";
  font-family: FontAwesome;
  font-size: 14px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  top: -3px;
  left: -2px;
  text-align: center;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product-details-description .product-color ul li input[type="checkbox"]:checked + label span,
.product-details-description .product-color ul li input[type="radio"]:checked + label span {
  background-color: #feb333;
  border-color: #feb333;
}

.product-details-description .product-color ul li input[type="checkbox"]:checked + label span::before,
.product-details-description .product-color ul li input[type="radio"]:checked + label span::before {
  opacity: 1;
  visibility: visible;
}

.product-details-description p {
  line-height: 1.8;
  color: #6c788c;
  margin-bottom: 0;
  margin-top: 25px;
}

.product-details-description .product-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.product-details-description .product-meta > * {
  margin-right: 10px;
}

.product-details-description .product-quantity {
  position: relative;
  margin-top: 10px;
  background-color: #494949;
  border-radius: 5px;
}

.product-details-description .product-quantity button {
  background: none;
  color: #fff;
  height: 50px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  padding: 0;
}

.product-details-description .product-quantity input {
  width: 35px;
  height: 50px;
  border: 0;
  padding: 0 5px;
  background: none;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  color: #fff;
  text-align: center;
}

.product-details-description .product-quantity > *:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 16px;
}

.product-details-description .product-quantity > *:last-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-right: 16px;
}

.product-details-description .meta-action .btn {
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}

.product-details-description .meta-action .action {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 23px;
  color: #fff;
  background-color: #494949;
  display: block;
  border-radius: 5px;
  margin-top: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product-details-description .meta-action .action:hover {
  background-color: #4195CF;
}

.product-details-description .product-info {
  padding-top: 33px;
}

.product-details-description .product-info .single-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 8px;
}

.product-details-description .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.product-details-description .social li {
  margin-right: 25px;
}

.product-details-description .social li a {
  font-size: 16px;
  color: #9f9e9e;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product-details-description .social li a:hover {
  color: #4195CF;
}

.product-details-description .product-table {
  margin-top: 40px;
}

.product-details-description .product-table .table {
  margin-bottom: 0;
}

.product-details-description .product-table .table tbody tr td {
  border: 1px solid #e1e1e1;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #6d707f;
  width: 33.33%;
}

.product-details-description .product-table .table tbody tr td .product-quantity {
  margin-top: 0;
}

.product-details-description .product-table .table tbody tr td .amount {
  font-weight: 500;
  color: #4195CF;
}

.product-details-tabs .nav {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 8px;
}

@media only screen and (max-width: 575px) {
  .product-details-tabs .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product-details-tabs .nav li {
  margin: 0 5px;
}

.product-details-tabs .nav li button {
  color: #cccccc;
  font-size: 24px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  border: 0;
  background: none;
  padding: 0 10px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product-details-tabs .nav li button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #4195CF;
  bottom: -9px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 575px) {
  .product-details-tabs .nav li button::before {
    display: none;
  }
}

.product-details-tabs .nav li button.active {
  color: #4195CF;
}

.product-details-tabs .nav li button.active::before {
  opacity: 1;
  visibility: visible;
}

.product-details-tabs .tab-content {
  /* max-width: 970px; */
  margin: 0 auto;
}

.information-content {
  padding-top: 35px;
}

.information-content .title {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.information-content ul {
  list-style: disc;
  list-style-position: inside;
  margin-bottom: 1rem;
}

.information-content ul li {
  font-size: 15px;
  line-height: 1.8;
}

.information-content > *:last-child {
  margin-bottom: 0;
}

.description-content {
  text-align: center;
  margin-top: 35px;
}

.reviews-content {
  padding-top: 10px;
}

.reviews-content .reviews-title {
  font-weight: 700;
  font-size: 24px;
  color: #000;
}

.single-reviews {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

@media only screen and (max-width: 575px) {
  .single-reviews {
    display: block;
  }
}

.single-reviews .comment-author img {
  border-radius: 50%;
}

.single-reviews .comment-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 30px;
}

@media only screen and (max-width: 575px) {
  .single-reviews .comment-content {
    padding-top: 25px;
    padding-left: 0;
  }
}

.single-reviews .comment-content .author-name-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-reviews .comment-content .author-name-rating .name {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 16px;
  color: #333333;
  margin-bottom: 0;
  line-height: 1;
  margin-right: 10px;
}

.single-reviews .comment-content .author-name-rating .review-star {
  position: relative;
  display: inline-block;
}

.single-reviews .comment-content .author-name-rating .review-star::before {
  content: "\f005" "\f005" "\f005" "\f005" "\f005";
  font-family: FontAwesome;
  display: inline-block;
  color: #dbdbdb;
  font-weight: 400;
  line-height: 1;
  vertical-align: middle;
  font-size: 12px;
  letter-spacing: 2px;
}

.single-reviews .comment-content .author-name-rating .review-star .star {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

.single-reviews .comment-content .author-name-rating .review-star .star::before {
  content: "\f005" "\f005" "\f005" "\f005" "\f005";
  font-family: FontAwesome;
  display: inline-block;
  color: #ffc600;
  font-weight: 400;
  line-height: 1;
  vertical-align: middle;
  font-size: 12px;
  letter-spacing: 2px;
}

.single-reviews .comment-content .date {
  color: #adadad;
  font-size: 14px;
  margin-top: 5px;
}

.single-reviews .comment-content p {
  margin-top: 20px;
}

.reviews-form {
  margin-top: 85px;
}

.reviews-form .review-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
}

.reviews-form .review-rating .title {
  font-weight: 600;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #494949;
  margin-bottom: 0;
  display: inline-block;
  white-space: nowrap;
  margin-right: 10px;
}

.reviews-form .review-rating ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.reviews-form .review-rating ul li {
  margin: 0 2px;
  font-size: 16px;
  cursor: pointer;
}

.reviews-form .review-rating ul li i {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #ffc600;
}

.reviews-form .review-rating ul li i.hover::before {
  content: "\f005" !important;
}

.reviews-form .form-title {
  font-size: 24px;
  font-weight: 400;
  color: #494949;
}

.reviews-form .form-check {
  margin-top: 30px;
}

.reviews-form .form-check .form-check-input {
  margin-top: 3px;
}
.vh-40{
	height:40vh;
}
.vh-70{
	height:70vh;
}
.vh-80{
height:80vh;
}
.height-blog{
  height:70vh;
  background-size:cover !important;
}
@media only screen and (max-width: 575px) {
  .height-blog{
    height:30vh;
    background-size:cover !important;
  }
}
.blog-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.blog-meta li {
  font-size: 15px;
  font-weight: 500;
  color: #545454;
  font-family: "Open Sans", sans-serif;
  display: inherit;
}

.blog-meta li i {
  font-size: 18px;
  color: #000;
  margin-right: 8px;
}

.blog-meta li + li {
  margin-left: 20px;
}
/* .header-search{
  right:47px;
  width:2px;
}
.button-search:focus .header-search{
  width:300px;
} */

.buttons {
	display: inline-block;
	/* margin: 4px 2px; */
	/* background-color: #444; */
	font-size: 50px;
	/* padding-left: 32px;
	padding-right: 32px; */
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.buttons:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	/* background-color: white; */
	color: #94B3CD;
}

.search-container {
	position: relative;
	display: inline-block;
	/* margin: 4px 2px; */
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbutton {
	position: absolute;
	font-size: 50px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	/* background-color: white; */
	color: #383838;
}

.search {
	position: absolute;
	/* left: 49px; */
	/* background-color: white; */
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 363px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 50px; /* Button width-1px */
}

.expandright:focus {
	padding: 0 0 0 16px;
}
.single-product{
  height:280px;
}
@media only screen and (max-width: 575px) {
  .single-product{
    height:180px;
  }
}


.product-details-description .product-color {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
}

.product-details-description .product-color ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.product-details-description .product-color ul li {
  margin-left: 15px;
}

.product-details-description .product-color ul li input[type="checkbox"],
.product-details-description .product-color ul li input[type="radio"] {
  display: none;
}

.product-details-description .product-color ul li input[type="checkbox"] + label,
.product-details-description .product-color ul li input[type="radio"] + label {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 16px;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  display: block;
}

.product-details-description .product-color ul li input[type="checkbox"] + label span,
.product-details-description .product-color ul li input[type="radio"] + label span {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid #888888;
  display: inline-block;
  position: relative;
  top: 2px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product-details-description .product-color ul li input[type="checkbox"] + label span::before,
.product-details-description .product-color ul li input[type="radio"] + label span::before {
  position: absolute;
  content: "\f107";
  font-family: FontAwesome;
  font-size: 14px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  top: -3px;
  left: -2px;
  text-align: center;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product-details-description .product-color ul li input[type="checkbox"]:checked + label span,
.product-details-description .product-color ul li input[type="radio"]:checked + label span {
  background-color: #feb333;
  border-color: #feb333;
}

.product-details-description .product-color ul li input[type="checkbox"]:checked + label span::before,
.product-details-description .product-color ul li input[type="radio"]:checked + label span::before {
  opacity: 1;
  visibility: visible;
}
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(0.25rem - 1px);
}
.opacity1{
  opacity:1;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}
.opacity0{
  opacity:0.5;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}
.bottom-10{
  bottom:40px;
}
.superzoom:hover img{
  scale:2;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}
.superzoom img{
  scale:1;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}
.shadowhover:hover img{
  -webkit-box-shadow: 0px 0px 7px 0px rgba(56,56,56,0.5);
    -moz-box-shadow: 0px 0px 7px 0px rgba(56,56,56,0.5);
    box-shadow: 0px 0px 7px 0px rgba(56,56,56,0.5);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.shadowhover img{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(56,56,56,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(56,56,56,0.2);
    box-shadow: 0px 0px 5px 0px rgba(56,56,56,0.2);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.bloghover{
  -webkit-box-shadow: 0px 0px 0px 0px rgba(56,56,56,0.1);
  -moz-box-shadow: 0px 0px 0px 0px rgba(56,56,56,0.1);
  box-shadow: 0px 0px 0px 0px rgba(56,56,56,0.1);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.bloghover:hover{
  -webkit-box-shadow: 0px 0px 10px 0px rgba(56,56,56,0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(56,56,56,0.1);
  box-shadow: 0px 0px 10px 0px rgba(56,56,56,0.1);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}








.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #4196cf07;
}

.sticky-header.sticky {
  background: #4197CE;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sticky-header.sticky .header-logo {
  line-height: 80px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  scale:0.7;
  margin-top:0px;
}

.sticky-header.sticky .main-menu > ul > li > a {
  line-height: 80px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color:#FFF;
}

.sticky-header.sticky .header-social-actions {
  line-height: 80px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sticky-header.sticky .header-social-actions .header-action-btn-menu {
  line-height: 80px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.sticky-header.sticky .fill-white {
  filter: brightness(0) invert(1);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-wrapper {
  max-height:80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Logo */
.header-logo {
  max-width: 80px;
  width: 100%;

  line-height: 100px;
  margin-top:350px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* @media only screen and (max-width: 767px) {
  .header-logo {
    line-height: 80px;
    
  }
} */
.header.top .header-logo {
  max-width: 140px;
  margin-top:0px;
}
@media only screen and (max-width: 479px) {
  .header .header-logo {
    max-width: 80px;
    margin-top:20px;
  }
  
}

/* Main Menu */
.main-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-menu > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.main-menu > ul > li > a {
  font-size: 14px;
  line-height: 100px;
  /* text-transform: uppercase; */
  font-weight: 400;
  color: #4198ce;
  position: relative;
  margin: 0 40px 0 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.main-menu > ul > li > a.active {
  font-size: 16px;
  font-weight: 700;
}

.main-menu > ul > li > a::after {
  position: absolute;
  content: "";
  background: #FFFFFF;
  height: 1px;
  width: 0%;
  bottom: -3px;
  left: 50%;
  right: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-menu > ul > li > a.active::after {
  width: 100%;
  left:0%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-menu > ul > li:hover > a::after {
  width: 100%;
  left:0%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-menu > ul > li:last-child > a {
  margin-right: 0;
}

.main-menu ul .has-children {
  position: relative;
}

.main-menu ul .has-children > .sub-menu {
  position: absolute;
  background: #ffffff;
  -webkit-box-shadow: 0 0 6px -3px;
          box-shadow: 0 0 6px -3px;
  width: 200px;
  -webkit-transform-origin: 0 0 0;
      -ms-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 9;
  padding-left: 0;
  border-bottom: 3px solid #1E3B93;
}

.main-menu ul .has-children > .sub-menu > li {
  list-style: none;
}

.main-menu ul .has-children > .sub-menu > li > a {
  padding: 10px 25px;
  display: block;
  line-height: 1.7;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px dashed #efefef;
  color: #212529;
}

.main-menu ul .has-children > .sub-menu > li > a:hover {
  color: #1E3B93;
  padding-left: 30px;
}

.main-menu ul .has-children > .sub-menu > li:last-child > a {
  border-bottom: 0px;
}

.main-menu ul .has-children:hover .sub-menu {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.header-social-actions {
  line-height: 100px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .header-social-actions {
    line-height: 90px;
  }
}

.header-social-actions .header-social {
  margin-right: 30px;
}

.header-social-actions .header-social ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-social-actions .header-social ul li a {
  font-size: 15px;
  color: #ffffff;
  padding: 0 10px;
}

.header-social-actions .header-social ul li a:hover {
  color: #1E3B93;
}

.header-social-actions .header-actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-social-actions .header-actions .header-action-search {
  color: #ffffff;
  font-size: 15px;
  padding-right: 20px;
}

.header-social-actions .header-actions .header-action-search:hover {
  color: #1E3B93;
}

.header-social-actions .header-actions .header-action-btn-menu {
  line-height: 100px;
  position: relative;
  cursor: pointer;
  height: 32px;
  width: 30px;
}

.header-social-actions .header-actions .header-action-btn-menu span {
  list-style: none;
  width: 30px;
  height: 4px;
  background: #68A3CC;
  position: absolute;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -webkit-transition: .9s;
  -o-transition: .9s;
  transition: .9s;
}
.sticky-header.sticky .header-social-actions .header-actions .header-action-btn-menu span{
  background: #FFF;

}
.header-social-actions .header-actions .header-action-btn-menu span:nth-of-type(1) {
  top: 20%;
}

.header-social-actions .header-actions .header-action-btn-menu span:nth-of-type(2) {
  top: 50%;
}

.header-social-actions .header-actions .header-action-btn-menu span:nth-of-type(3) {
  top: 80%;
}

.header-social-actions .header-actions .header-action-btn-menu.open span:nth-of-type(1) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg) rotateY(180deg);
          transform: translateY(-50%) rotate(45deg) rotateY(180deg);
}

.header-social-actions .header-actions .header-action-btn-menu.open span:nth-of-type(2) {
  width: 0;
}

.header-social-actions .header-actions .header-action-btn-menu.open span:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg) rotateY(180deg);
          transform: translateY(-50%) rotate(-45deg) rotateY(180deg);
}

.header-social-actions .header-actions .header-action-btn-menu:hover span {
  background: #1E3B93;
}

/*=======================================
    03.02 Offcanvas-mobile-menu CSS
=========================================*/
/*  Mobile Menu */
.offcanvas-overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #212529;
  opacity: .6;
  cursor: crosshair;
}

.mobile-menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transition-duration: 700ms;
       -o-transition-duration: 700ms;
          transition-duration: 700ms;
  z-index: 9999;
}

.mobile-menu-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.mobile-menu-wrapper.open .mobile-menu-inner {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.mobile-menu-inner {
  width: 100%;
  height: 100%;
  width: 400px;
  background-color: #ffffff;
  -webkit-box-shadow: -1px 0px 20px -5px #aaa;
          box-shadow: -1px 0px 20px -5px #aaa;
  position: relative;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transition-duration: 700ms;
       -o-transition-duration: 700ms;
          transition-duration: 700ms;
  margin-left: auto;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  .mobile-menu-inner {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    margin-right: auto;
    margin-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  .mobile-menu-inner {
    width: 300px;
  }
}

.mobile-menu-inner .offcanvas-btn-close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-size: 28px;
  color: #212529;
  background-color: #ffffff;
}

.mobile-menu-inner .offcanvas-btn-close i {
  cursor: pointer;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mobile-menu-inner .offcanvas-btn-close i:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mobile-menu-inner .offcanvas-btn-close:hover {
  color: #1E3B93;
}

.mobile-menu-inner .widget-social {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu-inner-wrapper {
  padding: 20px;
  overflow: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.mobile-menu-inner-wrapper .contact-links li {
  font-size: 16px;
  margin-bottom: 10px;
}

.mobile-menu-inner-wrapper .contact-links li i {
  margin-right: 5px;
  color: #1E3B93;
}

.mobile-menu-inner-wrapper .contact-links li a {
  color: #232324;
}

.mobile-menu-inner-wrapper .contact-links li a:hover {
  color: #1E3B93;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mobile-menu-inner-wrapper .header-social {
    display: none;
  }
}

.mobile-menu-inner-wrapper .header-social ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-menu-inner-wrapper .header-social ul li {
  padding: 0 10px;
}

.mobile-menu {
  text-align: start;
  padding: 10px 0px 20px;
  margin-top: 20px;
  height: 100%;
  margin-bottom: 20px;
}

.mobile-menu > .has-children > a {
  color: #232324;
  font-size: 16px;
}

.mobile-menu > .has-children > a i {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 24px;
}

.mobile-menu > .has-children > a:hover {
  color: #1E3B93;
}

.mobile-menu > .has-children .dropdown a {
  padding-top: 5px;
  display: block;
  padding-left: 15px;
  color: #232324;
}

.mobile-menu > .has-children .dropdown a:hover {
  color: #1E3B93;
}

.mobile-menu > .has-children.active > a {
  color: #1E3B93;
}

.mobile-menu > .has-children.active > a i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mobile-menu > li {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f8f9fa;
}

.mobile-menu > li > a {
  color: #232324;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 18px;
}
.mobile-menu > li > a.active {
  font-weight: bolder;
  color:#4197CE;
}
.mobile-menu > li > a.active::after {
  font-weight: bolder;
  position: relative;
  content: "";
  background: #4197CE;
  height: 1px;
  width: 30px;
  bottom: -16px;
  left: -89%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mobile-menu > li > a:hover {
  color: #1E3B93;
}

.mobile-menu > li:last-child {
  margin-bottom: 0;
}

/*=======================================
    03.05 Offcanvas-search CSS
=========================================*/
/*  Offcanvas Search */
.offcanvas-search {
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: 9999;
}

.offcanvas-search.open {
  opacity: 1;
  visibility: visible;
}

.offcanvas-search.open .offcanvas-search-inner {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.offcanvas-search-inner {
  width: 100%;
  height: 100%;
  background-color: #232324;
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transition-duration: 700ms;
       -o-transition-duration: 700ms;
          transition-duration: 700ms;
  padding: 20px 20px 40px;
  overflow: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-flow: row-reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.offcanvas-search-inner .offcanvas-btn-close {
  font-size: 50px;
  color: #ffffff;
  opacity: 1;
}

.offcanvas-search-inner .offcanvas-btn-close i {
  cursor: pointer;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  display: block;
}

.offcanvas-search-inner .offcanvas-btn-close i:hover {
  color: #1E3B93;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.offcanvas-search-inner .offcanvas-search-form {
  width: 80%;
}

.offcanvas-search-input {
  width: 100%;
  border: 0px;
  border-bottom: 2px solid #ffffff;
  font-size: 24px;
}

.offcanvas-search-input:focus {
  outline: none;
}
.h-lg-100{
  height:100%;
}
figure img{
  width:100%;
  max-width:700px;
  height:auto;
}

@media only screen and (max-width: 575px) {
  .h-lg-100{
    height:auto;
  }
  .h-100p{
    height:auto !important;
  }
}

.swiper-buttons {
  height:50px !important;
  width:20px !important;
  opacity: 0.2;
}
.swiper-buttons:hover {
  opacity: 0.6;

}
.swiper-button-next{
  right:-0px !important;
}
.swiper-button-prev{
  left:-0px !important;
}
.blank-header{
  height:112px;
}
article p{
  color:#383838;
}
.align-center{
	text-align: center !important;
  }
.vh-100px {
    height: 100px;
}
article figcaption{
  font-weight: 300;
}
article p{
  font-weight: 400 !important;
}
.opacity{
  opacity:0.5;
  filter: saturate(0%);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.opacity:hover{
  opacity:1;
  filter: saturate(100%);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.slider-overlay::before{
  content: "";
  background: #21252958;
}
.instagram-image img{
  width: auto;
  height: 200px;
  /* margin-bottom: 30px; */
  object-fit: cover;
}
.terkait {
  position: relative;
  height:300px;
}

.img-terkait {
  height: 60%;
}
article img{
  width:100%;
  height:auto;
}
article ol{
  font-size: x-large;
}

.slider-title{
  font-size:xx-large;
} 

@media only screen and (max-width: 575px) {
  .slider-title{
    font-size:large;
  } 
}
article blockquote{
  background-color: #4198ce36;
  padding-top:30px;
  padding-bottom:30px;
  padding-left: 30px;
  border-left:#3594cf 7px solid;
}
article blockquote p{
  color: #1e465e;
  margin-bottom: 0px;
}s
article blockquote p a{
  color: #4198ce;
}
